.header-right img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.android {
  color: black;
  font-size: 3rem; /* Adjust font size for smaller screens */
}

.nav-list {
  display: flex;
  list-style: none;
  justify-content:center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  cursor: pointer;
  padding: 5px 10px;
  margin: 0 10px; /* Adjust margin for smaller screens */
}
.nav-item.active {
  color: gray;
  border-bottom: 2px solid black;

}

.nav-item-button {
  border: 1px solid blueviolet;
  color: blueviolet;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 40px;
  margin-left: auto; /* Align to right on larger screens */
}

.navbar {
  background-color: white;
  color: black;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 20px gray;
}

.header {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap; /* Wrap items for smaller screens */
  align-items: center;
  padding: 20px;
}

.header-left {
  padding: 100px;
  flex: 2; /* Take remaining space */
  text-align: left; /* Align text to left for smaller screens */
}

.header-right {
  padding: 50px;
  flex: 1; /* Take remaining space */
  text-align: right; /* Align text to right for smaller screens */
  margin-top: 10px; /* Adjust spacing for smaller screens */
}

.content {
  padding: 20px;
}

@media (max-width: 768px) {
  .nav-item {
    margin: 0 5px; /* Adjust margin for smaller screens */
  }
  
  .header-left, .header-right {
    flex: 100%; /* Take full width on smaller screens */
    text-align: center; /* Center align text on smaller screens */
    margin-top: 10px; /* Adjust spacing for smaller screens */
  }
  
  .header-right img {
    width: 50%; /* Adjust image width for smaller screens */
    height: auto;
  }
  
  .android {
    color: black;
  font-size: 3rem;/* Adjust font size for smaller screens */
  }
}
